<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerFragment" class="header navbar-fixed-top">
<!--    <div class="headerImg">-->
<!--        <img src="https://cdn.imweb.me/thumbnail/20220620/ea8ae05d24bca.png">-->
<!--    </div>-->
    <div class="headerNav">
        <ul>
            <li class="headerImg"><img src="https://cdn.imweb.me/thumbnail/20220620/ea8ae05d24bca.png"></li>
            <li><a href="#" id="mainAbout">About</a></li>
            <li><a href="#" id="mainProjects">Projects</a></li>
            <li><a href="#" id="mainDownloads">Downloads</a></li>
            <li><a href="#" id="mainStore">Store</a></li>
            <li><a href="#" id="mainSupport">Support</a></li>
            <li></li><li></li>
            <li><a href="#" id="headerLogin">Login</a></li>
        </ul>
        <ul></ul>
    </div>
<!--    <div class="headerLogin">-->
<!--        <a href="#">Login</a>-->
<!--    </div>-->
</div>
</html>