<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="headerFragment" class="header navbar-fixed-top">
<!--    <div class="headerImg">-->
<!--        <img src="https://cdn.imweb.me/thumbnail/20220620/ea8ae05d24bca.png">-->
<!--    </div>-->
    <div class="headerNav">
        <ul>
            <li class="headerImg"><a href="/" id="main"><img src="https://cdn.imweb.me/thumbnail/20220620/ea8ae05d24bca.png"></a></li>
            <li><a href="#" id="mainAbout">About</a></li>
            <li><a href="#" id="mainProjects">Projects</a></li>
            <li><a href="#" id="mainDownloads">Downloads</a></li>
            <li><a href="#" id="mainStore">Store</a></li>
            <li><a href="#" id="mainSupport">Support</a></li>
            <li></li><li></li>
<!--            <span sec:authentication="name"></span>-->
<!--            <span sec:authentication="authorities"></span> <br>-->
<!--            <form id="logout" action="/logout" method="POST">-->
<!--                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
<!--                <input type="submit" value="로그아웃"/>-->
<!--            </form>-->
            <li sec:authorize="isAnonymous()">
                <a href="/login" id="headerLoginAnonymous">Login</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a href="/signup" id="headerSignup">Signup</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a sec:authorize="hasRole('ROLE_USER') && !hasRole('ROLE_ADMIN')" href="/" id="headerLoginAuthenticated"><span sec:authentication="name"></span></a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin" id="headerLoginAuthenticatedAdmin"><span sec:authentication="name"></span></a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form id="logout" action="/logout" method="POST">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="submit" value="로그아웃"/>
                </form>
            </li>
<!--            <li><a href="/signup" id="headerSignup">Signup</a></li>-->
        </ul>
        <ul></ul>
    </div>
<!--    <div class="headerLogin">-->
<!--        <a href="#">Login</a>-->
<!--    </div>-->
</div>
</html>