@charset "UTF-8";
*{
    font-family: montserrat, sans-serif;
    font-size:14px;
}
/*Sign up*/
.signUpBtnClose{
    background: #F5F6F7;
    border:none;
    width:80px;
    height:35px;
    font-weight: bold;;
    font-size:13px;
}
.signUpBtnSubmit{
    background: #f7c316;
    color: white;
    border:none;
    width:80px;
    height:35px;
    font-weight: bold;;
    font-size:13px;
    opacity:0.6;
}

.signUpBtnWrap{
    display: flex;
    justify-content: center;
}
.signUpPolicy{
    padding-bottom:30px;
}

input[type=checkbox] {
    transform : scale(1.5);
}

.checkBox input{
    accent-color: #f7c316;
}

.sign-up-sub-warp{
    width:370px;
    height:660px;
    /*background: blue;*/
}

.sign-up-box{
    background: #FAFAFA;
    border-left:4px solid #2196f3;
    /*padding:10px;*/
    padding:15px;
    font-weight: bold;
    color: #8f8d89;
    /*text-align: center;*/
}

.sign-up-input{
    width:370px;
    height:40px;
    border:1px solid #bdc2c9;
}

.sign-up-input:nth-of-type(1) {
    border-bottom:none;
}

.sign-up-input:nth-of-type(2) {
    border-bottom:none;
}

.sign-up-select{
    display: flex;
    justify-content: flex-start;
}

.select-box{
    padding:3px;
}

.sign-up-sub-btn{
    width:370px;
    height:45px;
    background: #f7c316;
    color:white;
    border:none;
    font-size:13px;
    font-weight: bold;
}


/*admin*/
.errorMsgStyle{
    color:red; font-size:10px; padding-top:5px;
}
section{
    background-color:#F5F6F7;
}
.articleAdmin {
    display:flex;
    justify-content: space-between;
    padding: 80px 150px;
}
.articleAdminNav {
    display: inline-block;
    width: 200px;

}
.articleAdminNav ul {
    margin:0;
    padding:0 10px;
}
.articleAdminNav ul li {

    font-weight: normal;
    list-style-type: none;
    margin-bottom: 10px;
}
.articleAdminNav ul li a {
    color: black;
    text-decoration: none;
    padding-bottom: 4px;
    margin-bottom: 12px;
    font-size:16px;
}

.articleAdminSection {
    width:1000px;
    text-align: center;
    border: 1px solid black;
}
.articleAdminBtn {
    float:right;
    padding-top: 80px;
}
.articleAdminBtn button {
    margin-left: 10px;
}
.articleAdminTableSub {
    display: none;
}
/*adminMember*/
.memberSubInformation{
    text-align: left;
    font-size:30px;
    padding-left:40px;
    padding-top:0px;
    padding-bottom:20px;
    font-weight: bold;
}

.adminMemberSub{
    padding-top:20px;
    border-top:2px solid black;
    border-bottom:2px solid black;
}

/*adminOrder*/
.orderSubInformation{
    text-align: center;
    font-size:30px;
    padding-left:40px;
    padding-top:0px;
    padding-bottom:20px;
    font-weight: bold;
}

.articleAdminSectionProduct{
    display: flex;
    justify-content: center;
}

.productInformation{
    background: white;
    width:100vw;
    height:100%;
    margin:15px;
    padding:15px;
}

.productInformationText{
    text-align: left;
    font-size:18px;
    padding-left:10px;
    padding-top:10px;
    font-weight: bold;
}

.productInformationImg{
    width:100px;
    height:100px;
}

.productInformationImg img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.productInformation-nametable{
    border:1px solid #bdc2c9;
    display: flex;
    padding:10px;
}

.productInformation-deliveryTexttable{
    border:1px solid #bdc2c9;
    margin-top : 10px;
    text-align: center;
    padding:10px;
    background: rgba(33, 33, 33, 0.03);
    font-weight: bold;
}

.productInformationSub{
    padding:10px;
}

.productInformationSub-text{
    width:100%;
    height:33.3%;
    text-align: left;
    font-size:13px;
}

.productInformation-pointtable{
    font-weight: bold;
}

.productInformation-totaltable{
    text-align: left;
    padding:20px;
}

.productInformation-summary:nth-of-type(2){
    border-bottom : 1px solid #bdc2c9;
    padding-bottom:10px;
}

.productInformation-deliverytable{
    font-weight: bold;
}

.footer {
    border-top:1px solid #d9d7d4;
    padding-top : 40px;
    margin:0 150px;
}

.footer_logo{
    float: right;
    width: 80px;
    margin-bottom : 40px;
}

.articleMainImg {
    width:100%;
    height:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.articleMainImg img {
    height:900px;
    margin-bottom : 100px;
}

.mainCard{
    margin : 0;
    z-index: -1;
}

.card-img-top-main{
    width:390px;
    height:390px;
}

.mainCard:hover{
    filter: brightness(70%);
}

.articleSubImg{
    display: flex;
    justify-content: center;
}

.wrap{
    padding:20px 150px;
    margin-bottom : 100px;
}
.adminNoticeSubBtn {
    display:flex;
    justify-content: space-between;
}
.adminNoticeSubBtn a, .adminNoticeSubBtn div button {
    text-align: center;
    width: 60px;
    height: 40px;
    line-height: 40px;
    border:none;
    background-color: #FFD100;
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin:0 10px;
}
.pagination {
    border-top: 1px solid black ;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
#numbers {
    padding: 0;
    margin: 0 2rem;
    list-style-type: none;
    display: flex;
}

#numbers li a {
    color:black;
    padding: .5rem 1rem;
    text-decoration: none;
    opacity: .7;
}

#numbers li a:hover {
    opacity: 1;
}

#numbers li a.active {
    opacity: 1;
}

.articleNav {
    width: 100%;
    height: 100px;
}
.articleNav ul {
    text-align: center;
    height:40px;
    margin: 0;
    padding: 30px 0;
}
.articleNav ul li{
    display: inline-block;
    color: black;
    font-weight: normal;
    list-style-type: none;
    margin: 0 25px;
    padding-bottom: 5px;
    vertical-align: middle;
    color: #212121B3;
}

.articleDownloadNav{
    width: 100%;
    height: 100px;
}

.articleDownloadNav ul{
    text-align: left;
    height:40px;
    margin: 0;
    padding: 30px 0;
}

.articleDownloadNav ul li{
    display: inline-block;
    color: black;
    font-weight: normal;
    list-style-type: none;
    margin: 0 25px;
    padding-bottom: 5px;
    vertical-align: middle;
    color: #212121B3;
}

/*store*/
.select-product{
    border:none;
}

.sorting-product{
    /*background: blue;*/
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    height: 40px;
}

.store-card-title{
    font-weight: bold;
    font-size:13px;
}

.store-card-body{
    /*margin-top:10px;*/
    /*background: blue;*/
    /*padding-left:0px;*/
    padding-top:20px;
    /*margin-top : 5px;*/
}

.card-price{
    padding-top:5px;
}

.card-update{
    display: flex;
    justify-content: flex-start;
    padding-top:5px;
}

.updateBox-best{
    background: white;
    color:red;
    border:1px solid #ccc8c8;
    /*font-weight: bold;*/
    padding:5px;
    width:18%;
    text-align: center;
    height:100%;
}

.updateBox-new{
    background: #f7c316;
    color:white;
    /*font-weight: bold;*/
    padding:5px;
    width:18%;
    text-align: center;
    height:100%;
}

.updateBox-soldOut{
    background: #666;
    color:white;
    /*font-weight: bold;*/
    padding:5px;
    margin-left:5px;
    width:30%;
    text-align: center;
    height:100%;
}

.item2Btn{
    background-color: white;
    border:none;
}

.item1{
    /*background: green;*/
}

.item2{
    /*background: red;*/
    padding-top:20px;
}

.searchBorder::placeholder {
    font-size:16px;
}

.searchBorder{
    -webkit-appearance: none;
    border: none;
    width:100px;
}

.articleStoreNav{
    width: 100%;
    height: 80px;
    /*background: blue;*/
    display: flex;
    justify-content: space-between;
}

.articleStoreNav ul{
    text-align: left;
    height:40px;
    padding-left:0px;
    padding-top:20px;
    /*background: blue;*/
}

.articleStoreNav ul li{
    display: inline-block;
    color: black;
    font-weight: normal;
    list-style-type: none;
    margin: 0 15px;
    /*padding-bottom: 5px;*/
    vertical-align: middle;
    font-size:16px;
    color: #8f8d89;
}

.articleStoreNav ul li:hover{
    color: black;
}

.storeWrap{
    margin:0px;
}

.storeCard{
    margin : 0;
    z-index: -1;
}

.storeDivWrap{
    padding:0px;
    margin:0px;
}

.storeCol{
    width:304px;
    height:450px;
}

.storeCard{
    width:304px;
    height:304px;
}

.articleSubNav{
    width: 100%;
    height: 60px;
    /*background: blue;*/
    display: flex;
    justify-content: space-between;
}

.articleSubNav ul{
    text-align: left;
    height:40px;
    padding-left:0px;
    /*background: blue;*/
}

.articleSubNav ul li{
    display: inline-block;
    color: black;
    font-weight: normal;
    list-style-type: none;
    margin: 0 15px;
    /*padding-bottom: 5px;*/
    vertical-align: middle;
    font-size:12px;
    color: #666;
}

.articleSubNav ul li:hover{
    color: black;
}


/*store*/

.articleNav ul li:nth-child(1){
    border-bottom: 1px solid black;
    color:black;
}

.articleImg {
    height:818px;
    text-align: center;
    display: inline-block;
}
.articleImg img {
    height:818px;
}
.articleText {
    margin:50px 311px;
    font-size:18px;
}
.articleText p {
    margin: 0;
    padding: 0;
}
.articleGap, .footerGap {
    width: 100%;
    height: 130px;
}

.collaboCard{
    z-index: -1;
    border:none;
}

/*projects > Joguman Laboratory*/
.siema {
    width: 500px;
    margin: 3em auto;
}
.siema img {
    width: 500px;
    height: auto;
}
.prev, .next {
    background: rgba(255,255,255,.5);
    position: absolute;
    width: 30px;
    height: 60px;
    top: 500px;
    border: none;
    cursor: pointer;
    transition: all .25s;
    color: #212121B3;
    font-size:30px;
    font-weight: lighter;
}
.next { right: 150px; }
.prev:hover, .next:hover { background: rgba(255,255,255,.75); }
button:focus { outline: 0; }

.articleLabText {
    text-align: center;
}
/*projects > book*/

.articleBookImg {
    width:1300px;
    margin: 3em auto;
}
.articleBookImg img {
    width:1300px;
    margin-bottom: 3em;
}
.articleBookText {
    width: 500px;
    margin: 1em auto;
}
.articleBookText p {
    margin:0;
}
.articleBookText p span{
    text-align: center;
}
.articleBookImo {
    text-align: center;
    width:500px;
    margin:0 auto;
}
.articleBookImo img {
    width:142px;
    margin: 1em auto;
}
.articleBookBtn {
    display: flex;
    justify-content: space-between;
}
.articleBookBtn a {
    text-align: center;
    width:115px;
    height:50px;
    line-height: 50px;
    border:none;
    background-color: #FFD100;
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin:0 30px;
}


/*main > footer*/

.footer {
    margin:0 150px;
}

.footer_logo{
    float: right;
    width: 80px;
}

#bold {
    font-weight: bold;
}
#textAlignCenter {
    text-align: center;
}
/*adminNoticeSub*/
.articleAdminPadding, .articleSupportPadding {
    padding: 0 100px;
}
.adminNoticeNav, .supportNoticeNav {
    padding-top: 50px;

}
.adminNoticeNav ul, .supportNoticeNav ul {

    padding: 0 0 14px;
    maring: 0;
}
.adminNoticeNav ul li, .supportNoticeNav ul li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin-right: 30px;
}
.adminNoticeNav ul li a, .supportNoticeNav ul li a {
    color: black;
    text-decoration: none;
}

#contents {
    border-top: 0.5px solid gray;
    padding-top:20px;
}
#title {
    font-size: 25px;
}
#category {
    color: #21212180;
}

/*supportNoticeSub*/
.supportNoticeArticle{
    margin-top: 30px;
    border-top: 1px solid black;
}
.table tbody tr td a {
    color: black;
    text-decoration: none;
}

/*collaboComoninoz*/

.articleStoreNav{
    width: 100%;
    height: 100px;
    /*background: blue;*/
}

.articleStoreNav ul{
    text-align: left;
    height:40px;
    padding-left:0px;
    padding-top:20px;
}

.articleStoreNav ul li{
    display: inline-block;
    color: black;
    font-weight: normal;
    list-style-type: none;
    margin: 0 15px;
    /*padding-bottom: 5px;*/
    vertical-align: middle;
    font-size:16px;
    color: #8f8d89;
}

.storeWrap{
    width:1300px;
    height:400px;
    margin:0px;
}

.storeCard{
    margin : 0;
    z-index: -1;
}

.storeDivWrap{
    padding:0px;
    margin:0px;
}

.storeCol{
    width:304px;
    height:304px;
}

.storeCard{
    width:304px;
    height:304px;
}

.collaboComoHeadImg img{
    width: 1400px;
}
.collaboComoPadding {
    padding:30px 0;
}

.collaboCard img{
    object-fit: cover;
}
.card-img-top-collabo {
    height:540px;
}
.card-img-top-hover{
    height:540px;
    top: 0px;
    left: 0px;
    display:none;
}
.collaboComo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
    margin: 0 100px;
}
.cardTxt {

    text-align: center;
    margin: 10px 0 0;
    color:black;
}
.cardWhite {
    width:100%;
    height: 60px;
}
.collaboGrid a {
    text-decoration: none;
}


/*collaboFlipdeep*/

.collaboFlipPrice {
    width:100%;
}
.collaboFlipPrice img {
    width: 400px;
    height: 40px;
    margin: 20px auto;
}

/*casetify*/
.casetifyPadding {
    line-height: 60px;
}

/*login*/

.loginArticle {
    text-align: center;
    background-color: #f5f6f7;
    width: 100%;
    height: auto;
}
.loginWhite {
    width:100%;
    line-height: 150px;
}
.loginArticle p span{
    font-size: 36px;
    align-content: center;
}
.loginForm {
    margin: 0 auto;
    width: 400px;
}
#loginID, #loginPW {
    width: 100%;
    height: auto;
    box-shadow: none;
    padding: 12px 16px;
    border: 0.5px solid #8f8d89;
}
.loginCheckBox {
    margin:10px 0;
    padding:0;
    text-align: left;
    justify-content: center;
}
.loginCheckBox input {
    accent-color: #FFD100;

}
.loginBtn {
    width:100%;
    padding:10px 20px;
    color: black;
    background-color: #FFD100;
    border: none;
}
.loginTagA a {
    color: black;
    text-decoration: none;
}

/*myPage*/

.myPageArticle {
    display:flex;
    justify-content: space-between;
    padding: 80px 150px;
}
.myPageNav {
    display: inline-block;
    width: 200px;
}

.myPageNav ul {
    margin:0;
    padding:0 10px;
}
.myPageNav ul li {

    font-weight: normal;
    list-style-type: none;
    margin-bottom: 10px;
}
.myPageNav ul li a {
    color: black;
    text-decoration: none;
    padding-bottom: 4px;
    margin-bottom: 12px;
    font-size:16px;
}

.myPageHead {
    width:1000px;
    padding: 50px 0 40px 45px;
    margin-bottom: 70px;
    text-align: center;
}