<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/fnd3ack.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/script.js" defer></script>
    <title>about</title>
    <style>
        #mainAbout{
            border-bottom:2px solid orange;
        }
    </style>
</head>
<body>
<container>
    <div data-include-path="header.html"></div>
    <article>
        <div class="articleNav">
            <ul>
                <li>Joguman</li>
                <li>하찮은 공룡들</li>
                <li>contact</li>
                <li>Stockists</li>
            </ul>
        </div>
        <div class="articleImg">
            <img src="https://cdn.imweb.me/thumbnail/20200730/9d51d64443531.jpg">
        </div>
        <div class="articleText">
            <p>
                "우리는 조구만 존재야. 조구맣지만 안 중요하단 건 아냐."
            </p>
            <p>
                <br>
            </p>
            <p>
                만들고, 그리고, 이야기하는 조구만 스튜디오입니다. 2017년에 시작된 조구만 스튜디오는 일러스트레이션과 스토리텔링을 기반으로 다양한 작업을 선보이고 있습니다.
                삐뚤빼뚤한 그림으로 마냥 귀엽지만은 않은 이야기를 합니다. 말장난과 어두운 유머를 좋아합니다. 공룡 낙서에서 시작된 ‘하찮은 공룡들(The Insignificant Dinosaurs)’ 시리즈는
                ‘UBHC (Unforgiving Brutal Herbivore Club / 자비없고 잔인한 초식동물 클럽)’ 세계관으로 확장되어, 현재 조구만 스튜디오를 대표하는 캐릭터 시리즈가 되었습니다.
            </p>
            <p>
                <br>
            </p>
            <p>
                사람들의 일상 속에 은근히 스며들어 조구만 행복을 주고 싶습니다.
            </p>
        </div>
        <div class="articleGap"></div>
    </article>
</container>
</body>

</html>
