<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- 부트스트랩 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- 조구만 스튜디오 폰트 -->
  <link rel="stylesheet" href="https://use.typekit.net/fnd3ack.css">
  <link rel="stylesheet" href="stylesheet.css">

  <title>Stockists</title>
</head>
<body layout:fragment="content">
<container>
  <div data-include-path="header.html"></div>
  <article>
    <div class="articleNav">
      <ul>
        <li>Joguman</li>
        <li>하찮은 공룡들</li>
        <li style="border-bottom: 1px solid black;">Stockists</li>
      </ul>
    </div>
    <div class="articleText" id="textAlignCenter">
      <p><br></p>
      <p><strong style="font-size:18px;">Joguman Stockists</strong></p>
      <p><br></p>
      <p><br></p>
      <p><strong><서울></strong></p>
      <p>KT&G 상상마당 홍대
        <br></br>MMCA(국립현대미술관) 서울관
        <br>국립중앙박물관
        <br>도화아파트먼트(도화북스)
        <br>무진장 (Mujinjang Cafe)
        <br>메이크메리 (Makemerry Cafe)
        <br>비옥 (BEOK)
        <br>연세대학교 (Yonsei Univ.)
        <br>원모어백 (Onemorebag)
      </p>
      <p><br></p>
      <p><strong><경기도></strong></p>
      <p>MMCA(국립현대미술관) 과천관
        <br>책발전소 광교
        <br>수부작수부작 / 남양주
      </p>
      <p><br></p>
      <p><strong><강원도></strong></p>
      <p>
        KT&G 상상마당 춘천 아트센터
        <br>무용담예술상점
      </p>
      <p><br></p>
      <p><strong><충청도></strong></p>
      <p>
        MMCA(국립현대미술관) 청주관
      </p>
      <p><br></p>
      <p><strong><광주></strong></p>
      <p>
        니드인디드
      </p>
      <p><br></p>
      <p><strong><대전></strong></p>
      <p>
        잠시다락
      </p>
      <p><br></p>
      <p><strong><대구></strong></p>
      <p>
        나그놀 스트릿점
        <br>나그놀 수성레이크점
      </p>
      <p><br></p>
      <p><strong><부산></strong></p>
      <p>
        KT&G 상상마당 부산
        <br>YES24 서면점
        <br>셀라스 홈룸(Selahs Homeroom)
      </p>
      <p><br></p>
      <p><strong><중국></strong></p>
      <p>
        Onebite / Chengdu
      </p>
      <p><br></p>
      <p><strong><독일></strong></p>
      <p>
        Santokki / Berlin
      </p>
        </div>
    </div>
  </article>
</container>
<script src="script.js"></script>
</body>

</html>