<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
  <title>adminMemberSub</title>
</head>
<body layout:fragment="content">
<container>
  <section>
    <div class="articleAdmin">
      <div class="articleAdminNav">
        <ul>
          <li><a href="#">상품 관리</a></li>
          <li><a href="#" style="border-bottom: 2px solid orange">회원 관리</a></li>
          <li><a href="#">주문 관리</a></li>
          <li><a href="#">공지 관리</a></li>
          <li><a href="#">QnA 관리</a></li>
        </ul>
      </div>
      <div class="articleAdminSection" style="border:none">
        <div class="memberSubInformation">회원 정보</div>
        <form class="adminMemberSub">
          <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">이름</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3">
            </div>
          </div>
          <div class="row mb-3">
            <label for="phoneNumber" class="col-sm-2 col-form-label">연락처</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="phoneNumber">
            </div>
          </div>
          <div class="row mb-3">
            <label for="birth" class="col-sm-2 col-form-label">생년월일</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="birth">
            </div>
          </div>
          <div class="row mb-3">
            <label for="point" class="col-sm-2 col-form-label">포인트</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="point">
            </div>
          </div>
          <div class="row mb-3">
            <label for="signDate" class="col-sm-2 col-form-label">가입일시</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="signDate">
            </div>
          </div>
          <div class="row mb-3">
            <label for="price" class="col-sm-2 col-form-label">누적금액가격</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="price">
            </div>
          </div>
          <div class="row mb-3">
            <label for="address" class="col-sm-2 col-form-label">주소</label>
            <div class="col-sm-10">
              <input type="address" class="form-control" id="address">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="articleGap"></div>
  </section>
</container>
</body>

</html>