<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>admin notice sub</title>
</head>
<body layout:fragment="content">
<div class="articleAdminPadding">
    <div class="adminNoticeNav">
        <ul>
            <li><a href="#" style="border-bottom: 1px solid black">Notice</a></li>
            <li><a href="#">QnA</a></li>
        </ul>
    </div>
    <div class="adminNoticeSearch">

    </div>
    <div class="adminNoticeSubArticle">
        <form action="" method="get">
            <div>
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" placeholder="text title">
                <span th:style="${'color: red; font-size:11px;'}" th:text="${valid_price}"
                      th:id="valid_price"></span>
            </div>
            <div>
                <label for="contents" class="form-label">내용</label>
                <textarea class="form-control" id="contents" rows="30" placeholder="text description"></textarea>
                <span th:style="${'color: red; font-size:11px;'}" th:text="${valid_description}"
                      th:id="valid_description"></span>
            </div>
        </form>
    </div>
</div>
<div class="articleAdminBtn">
    <button type="button" class="btn btn-outline-secondary" onClick="location.href='/adminNotice'" style="
                        float: left;">목록</button>
    <button type="submit" class="btn btn-outline-secondary" style="float: right;">제출</button>
</div>
<div class="footerGap"></div>
<div class="footerGap"></div>

</div>
</body>
</html>