<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.typekit.net/fnd3ack.css">
  <link rel="stylesheet" href="../static/css/stylesheet.css">
  <script src="../static/js/script.js"></script>
  <script>
    //옵션, 수량 모달 내부 변경
    function count(type)  {
      // 결과를 표시할 element
      const resultElement1 = document.getElementById('result1');
      const resultElement2 = document.getElementById('result2');
      const resultPrice1=document.getElementById('basketPrice1');
      const resultPrice2=document.getElementById('basketPrice2');

      // 현재 화면에 표시된 값
      let number1 = resultElement1.innerText;
      let number2 = resultElement2.innerText;
      let price1=resultPrice1.innerText;
      let price2=resultPrice2.innerText;

      //comma 처리
      function addComma(value){
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return value;
      }
      function minusComma(value){
        value = value.replace(/[^\d]+/g, "");
        return value;
      }

      price1=minusComma(price1);
      price2=minusComma(price2);

      // 더하기/빼기
      if(type === 'plus') {
        number1 = parseInt(number1) + 1;
        number2 = parseInt(number2) + 1;
        price2 = parseInt(price1)*number1;
      }
      else if(type === 'minus')  {
        number1 = parseInt(number1) - 1;
        number2 = parseInt(number2) - 1;
        price2 = parseInt(price2)-parseInt(price1);
        if(number1<=1 && number2<=1){
          number1=1;
          number2=1;
          price2=parseInt(price1);
        }
      }
      // 결과 출력
      resultElement1.innerText = number1;
      resultElement2.innerText = number2;
      price2=String(price2);
      price2=addComma(price2);
      resultPrice2.innerText=price2;
    }

    //수량, 금액 테이블 변경
    function basketRevise(){
      const resultElement1 = document.getElementById('result1'); //modal안에있는값
      const resultProductCnt = document.getElementById('basketTableProductCnt'); //table값
      const resultPrice2=document.getElementById('basketPrice2'); //modal안에있는값
      const resultProductPrice = document.getElementById('basketTableProductPrice'); //table값
      resultProductCnt.innetText=resultElement1.innerText;
      resultProductPrice.innetText=resultPrice2.innerText;
    }

  </script>
  <title>basket</title>
</head>
<body layout:fragment="content">
<container>
  <article>
    <div class="wrap">
      <div class="basketTitle">
        장바구니
      </div>
      <div class="basketTable">
        <table class="table">
          <tr>
            <th><input type="checkbox" value="" id="agreeAll" name="check_all">상품정보</th>
            <th>수량</th>
            <th>주문금액</th>
            <th>배송정보</th>
          </tr>
          <tr>
            <th scope="row">
              <input type="checkbox" value="" id="agree1" name="check"><img src="https://cdn.imweb.me/thumbnail/20220719/aa7fd28ca70e6.jpg">
              <span>Brachio Drink Holder 브라키오 튜브 컵홀더</span>
<!--              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            </th>
            <td>
              <p id="basketTableProductCnt">1</p>
              <!-- Button trigger modal -->
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                옵션/수량 변경
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">옵션 변경</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="modalImgWrap" style="display: flex; justify-content: space-between;">
                        <div class="modalImg">
                          <img src="https://cdn.imweb.me/thumbnail/20220719/aa7fd28ca70e6.jpg">
                        </div>
                        <div class="modalImgDescription">
                          <span>Brachio Drink Holder 브라키오 튜브 컵홀더</span>
                          <span>₩<span id="basketPrice1">10,000</span></span>
                        </div>
                      </div>
                      <div class="basketCnt">
                        <div class="basketProductAmount-text">수량</div>
                          <div class="basketCountWrap">
                            <div><input type='button' onclick='count("minus")' value='-' id="basketBtnMinus"/></div>
                            <div class="basketAmountCnt" name="basketAmountCnt" id='result1'>1</div>
                            <div><input type='button' onclick='count("plus")' value='+' id="basketBtnPlus"/></div>
                          </div>
                          <div class="basketCountText">
                            <div style="display: flex; justify-content: space-between">
                            <div><span>총 수량 <span id="result2">1</span>개</span></div>
                            <div>₩<span id="basketPrice2">10,000</span></div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <form action="#">
                        <button type="button" data-bs-dismiss="modal">취소</button>
                        <button type="submit" id="basketReviseBtn" onclick="basketRevise();">변경</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </td>
            <td>
              <p>₩<span id="basketTableProductPrice">10,000</span></p>
              <button type="submit">바로구매</button>
            </td>
            <td rowspan="2" style="border-right:none;">
              <p>₩3,000</p>
              <p>택배</p>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <input type="checkbox" value="" id="agree2" name="check"><img src="https://cdn.imweb.me/thumbnail/20220713/b1a3092210245.jpg">
              <span>Fuck You Inflatable Glove 빠큐 풍선장갑</span>
            </th>
            <td>
              <p>1</p>
              <button type="submit">옵션/수량 변경</button>
            </td>
            <td>
              <p>₩12,000</p>
              <button type="submit">바로구매</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="basketBtns">
        <button type="submit">선택상품 삭제</button>
        <button type="submit">품절상품 삭제</button>
      </div>
      <div class="basketTotalTable">
        <table class="table">
          <tr>
            <td>총 주문 상품 <span id="productCnt">0</span>개</td>
          </tr>
          <tr>
            <th scope="row">
              <div class="paymentTableWrap">
              <div>
                <p id="basketTotalPrice">₩0</p>
                <p>상품금액</p>
              </div>
                <div>
                  <p>+</p>
                </div>
              <div>
                <p id="basketTotalDelivery">₩0</p>
                <p>배송비</p>
              </div>
                <div>
                  <p>=</p>
                </div>
              <div>
                <p>₩0</p>
                <p>총 주문금액</p>
              </div>
              </div>
            </th>
          </tr>
        </table>
        <button type="submit">주문하기</button>
        <div><a href="#">계속 쇼핑하기</a></div>
        <div>
          <span>위시리스트</span>
          <button type="submit">더보기</button>
        </div>
        <div class="basketColWrap">
          <div class="col basketCol">
            <div class="card basketCard">
              <img src="https://cdn.imweb.me/thumbnail/20220707/9b3f2e400b2f3.jpg"
                   class="card-img-top card-img-top-store card-img-top-basket" alt="...">
              <div class="store-card-body">
                <div class="card-title basket-card-title">
                  Branchio Drink Holder 브라키오 튜브 컵홀더
                </div>
                <div class="card-price">
                  $10,000
                </div>
                <div class="card-update">
                  <div class="updateBox-new">NEW</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</container>
</body>

</html>