<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
  <script>
    //옵션, 수량 모달 내부 변경
    function count(type)  {
      // 결과를 표시할 element
      const resultElement1 = document.getElementById('result1');
      const resultElement2 = document.getElementById('result2');
      const resultPrice1=document.getElementById('basketPrice1');
      const resultPrice2=document.getElementById('basketPrice2');

      // 현재 화면에 표시된 값
      let number1 = resultElement1.innerText;
      let number2 = resultElement2.innerText;
      let price1=resultPrice1.innerText;
      let price2=resultPrice2.innerText;

      //comma 처리
      function addComma(value){
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return value;
      }
      function minusComma(value){
        value = value.replace(/[^\d]+/g, "");
        return value;
      }

      price1=minusComma(price1);
      price2=minusComma(price2);

      // 더하기/빼기
      if(type === 'plus') {
        number1 = parseInt(number1) + 1;
        number2 = parseInt(number2) + 1;
        price2 = parseInt(price1)*number1;
      }
      else if(type === 'minus')  {
        number1 = parseInt(number1) - 1;
        number2 = parseInt(number2) - 1;
        price2 = parseInt(price2)-parseInt(price1);
        if(number1<=1 && number2<=1){
          number1=1;
          number2=1;
          price2=parseInt(price1);
        }
      }
      // 결과 출력
      resultElement1.innerText = number1;
      resultElement2.innerText = number2;
      price2=String(price2);
      price2=addComma(price2);
      resultPrice2.innerText=price2;
    }

    //수량, 금액 테이블 변경
    function basketRevise(){
      const resultElement1 = document.getElementById('result1'); //modal안에있는값
      const resultProductCnt = document.getElementById('basketTableProductCnt'); //table값
      const resultPrice2=document.getElementById('basketPrice2'); //modal안에있는값
      const resultProductPrice = document.getElementById('basketTableProductPrice'); //table값
      resultProductCnt.innetText=resultElement1.innerText;
      resultProductPrice.innetText=resultPrice2.innerText;
    }
  </script>
  <title>basket</title>
</head>
<body layout:fragment="content">
<container>
  <article>
    <div class="wrap">
      <div class="basketTitle">
        장바구니
      </div>
      <div class="basketTable">
        <table class="table">
          <tr style="color:gray;">
            <th style="font-size:13px;"><input type="checkbox" value="" id="agreeAll" name="check_all" class="listCheckInput">&nbsp;&nbsp;&nbsp;상품정보</th>
            <th class="basketTableTh">수량</th>
            <th class="basketTableTh">주문금액</th>
            <th class="basketTableTh">배송정보</th>
          </tr>
          <tr>
            <th scope="row">
              <div class="basketTableDiv" style="vertical-align : middle;">
                <input type="checkbox" value="" id="agree1" name="check" class="listCheckInput" style="vertical-align : top;">&nbsp;&nbsp;&nbsp;
                <img src="https://cdn.imweb.me/thumbnail/20220719/aa7fd28ca70e6.jpg">
                <span style="vertical-align : top;">Brachio Drink Holder 브라키오 튜브 컵홀더</span>
              </div>
            </th>
            <td>
              <p id="basketTableProductCnt">1</p>
              <!-- Button trigger modal -->
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="basketProductBtn">
                옵션/수량 변경
              </button>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title basketModalText" id="exampleModalLabel">옵션 변경</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body basketModalBody">
                      <div class="modalImgWrap" style="display: flex;">
                        <div class="modalImg">
                          <img src="https://cdn.imweb.me/thumbnail/20220719/aa7fd28ca70e6.jpg">
                        </div>
                        <div class="modalImgDescription">
                          <span>Brachio Drink Holder 브라키오 튜브 컵홀더</span><br>
                          <span style="color:#ffcd00; text-align: left;">₩<span id="basketPrice1">10,000</span></span>
                        </div>
                      </div>
                      <div class="basketCnt">
                        <div class="basketProductAmount-text">수량</div>
                        <div class="basketCountWrap">
                          <div><input type='button' onclick='count("minus")' value='-' id="basketBtnMinus"/></div>
                          <div class="basketAmountCnt" name="basketAmountCnt" id='result1'>1</div>
                          <div><input type='button' onclick='count("plus")' value='+' id="basketBtnPlus"/></div>
                        </div>
                      </div>
                      <div class="basketCountText">
                        <div style="display: flex; justify-content: space-between">
                          <div><span style="font-size:12px;">총 수량 <span id="result2" style="font-size:12px; color:#ffcd00;">1</span>개</span></div>
                          <div style="font-size:18px; color:#ffcd00;">₩<span id="basketPrice2" style="font-size:18px; color:#ffcd00;">10,000</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="basketModalLine"></div>
                    <div class="modal-footer basketBtns">
                      <form action="#">
                        <button type="button" data-bs-dismiss="modal" class="basketCancelBtn">취소</button>
                        <button type="submit" id="basketReviseBtn" onclick="basketRevise();" class="basketReviseBtn">변경</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <p style="font-weight:bold; font-size:20px;">₩<span id="basketTableProductPrice" style="font-size:20px;">10,000</span></p>
              <button type="submit" class="basketBtn">바로구매</button>
            </td>
            <td rowspan="2" style="border-right:none;">
              <p style="font-size:15px; font-weight:bold;">₩<span style="font-size:15px; font-weight:bold;" id="basketDeliveryPrice">3,000</span></p>
              <p style="font-size:13px; font-weight: bold; color:gray;">택배</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="basketBtns">
        <button type="submit" class="basketDeleteBtn">선택상품 삭제</button>
        <button type="submit" class="basketDeleteBtn">품절상품 삭제</button>
      </div>
      <div class="basketTotalTable">
        <table class="table">
          <tr>
            <td  style="font-weight: bold; font-size:13px;">총 주문 상품 <span id="productCnt">0</span>개</td>
          </tr>
          <tr>
            <th scope="row">
              <div class="paymentTableWrap">
              <div class="paymentElement">
                <p class="basketTotalPayment">₩<span id="basketPrice" class="basketTotalPayment">0</span></p>
                <p class="basketPayment">상품금액</p>
              </div>
                <div class="paymentElement">
                  <p class="basketTotalPayment">+</p>
                </div>
              <div class="paymentElement">
                <p class="basketTotalPayment">₩<span id="basketDelivery" class="basketTotalPayment">0</span></p>
                <p class="basketPayment">배송비</p>
              </div>
                <div class="paymentElement">
                  <p class="basketTotalPayment">=</p>
                </div>
              <div class="paymentElement">
                <p class="basketTotalPayment" style="color:#ffcd00;">₩<span id="basketTotal" class="basketTotalPayment">0</span></p>
                <p class="basketPayment">총 주문금액</p>
              </div>
              </div>
            </th>
          </tr>
        </table>
        <div class="basketOrderBtnWrap">
          <button type="submit" class="basketOrderBtn">주문하기</button>
        </div>
        <div class="basketShopBtnWrap">
          <a href="/main">계속 쇼핑하기</a>
        </div>
        <div class="basketWishList">
          <span style="font-size:18px; font-weight: bold;">위시리스트</span>
          <button type="submit" class="basketMoreBtn">더보기</button>
        </div>
        <div class="basketColWrap">
          <div class="col basketCol">
            <div class="card basketCard">
              <img src="https://cdn.imweb.me/thumbnail/20220707/9b3f2e400b2f3.jpg"
                   class="card-img-top card-img-top-store card-img-top-basket" alt="...">
              <div class="store-card-body">
                <div class="card-title basket-card-title">
                  Branchio Drink Holder 브라키오 튜브 컵홀더
                </div>
                <div class="card-price">
                  $10,000
                </div>
                <div class="card-update">
                  <div class="updateBox-new">NEW</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</container>
</body>

</html>