<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
  <title>casetify Watch Band</title>
  <style>
    #mainStore{
      border-bottom:2px solid orange;
    }
  </style>
</head>
<body layout:fragment="content">
<container>
  <div class="collaboComo">
    <div class="wrap">
      <div class="casetifyPadding">
        <br>
      </div>
      <div class="articleStoreNav">
        <ul>
          <li>Phone</li>
          <li>Airpods</li>
          <li>iPad</li>
          <li>MacBook</li>
          <li style="border-bottom: 2px solid black; color:black">Watch Band</li>
          <li>AirTag</li>
        </ul>
      </div>
      <div class="collaboComoArticle">
        <div class="collaboComoHeadImg">
          <a href="#"><img src="https://cdn.imweb.me/thumbnail/20220628/bb39945ce0f15.jpg" alt=""></a>
        </div>
        <div class="collaboComoPadding"></div>
        <div class="row row-cols-md-3 collaboGrid">

          <div class="col colBorder">
            <a href="#">
              <div class="card collaboCard">
                <img src="https://cdn.imweb.me/thumbnail/20220721/f88c40ca0936d.jpg" class="card-img-top card-img-top-collabo" alt="...">
                <img src="https://cdn.imweb.me/thumbnail/20220722/b582c02a4b78c.jpg" class="card-img-top card-img-top-hover" alt="">
              </div>
              <div class="cardTxt">
                I Miss My Dog
              </div>
            </a>
          </div>


          <div class="col colBorder">
            <a href="#">
              <div class="card collaboCard">
                <img src="https://cdn.imweb.me/thumbnail/20220721/5f2e3e3290340.jpg" class="card-img-top card-img-top-collabo" alt="...">
              </div>
              <div class="cardTxt">
                I'm Leaving This Planet
              </div>
            </a>
          </div>


          <div class="col colBorder">
            <a href="#">
              <div class="card collaboCard">
                <img src="https://cdn.imweb.me/thumbnail/20220628/7b0f21ba7e019.jpg" class="card-img-top card-img-top-collabo" alt="...">
                <img src="https://cdn.imweb.me/thumbnail/20220722/5c1571808b41c.jpg" class="card-img-top card-img-top-hover" alt="">
              </div>
              <div class="cardTxt">
                OGUMAN HAE! - BLACK (PINK LENS)
              </div>
            </a>
          </div>

          <div class="row cardWhite"></div>


          <div class="col colBorder">
            <a href="#">
              <div class="card collaboCard">
                <img src="https://cdn.imweb.me/thumbnail/20220722/00ed8f33293df.jpg" class="card-img-top card-img-top-collabo" alt="...">
              </div>
              <div class="cardTxt">
                [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
              </div>
            </a>
          </div>


          <div class="col colBorder">
            <a href="#">
              <div class="card collaboCard">
                <img src="https://cdn.imweb.me/thumbnail/20220722/225e6c9c0e730.jpg" class="card-img-top card-img-top-collabo" alt="...">
              </div>
              <div class="cardTxt">
                [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
              </div>
            </a>
          </div>


          <div class="col colBorder collaboHover">
            <a href="#">
              <div class="card collaboCard">
                <img src="https://cdn.imweb.me/thumbnail/20220722/9968482d77161.jpg" class="card-img-top card-img-top-collabo" alt="...">
              </div>
              <div class="cardTxt">
                [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
              </div>
            </a>
          </div>

          <div class="row cardWhite"></div>

        </div>
      </div>
    </div>
  </div>

</container>
</body>
</html>