<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- 부트스트랩 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- 조구만 스튜디오 폰트 -->
  <link rel="stylesheet" href="https://use.typekit.net/fnd3ack.css">
  <link rel="stylesheet" href="stylesheet.css">
  <script src="../static/js/script.js" defer></script>
  <title>collabo Flipdeep</title>
  <style>
    #mainStore{
      border-bottom:2px solid orange;
    }
  </style>
</head>
<body layout:fragment="content">
<container>
  <div data-include-path="header.html"></div>
  <div class="collaboComo">
    <div class="wrap">
      <div class="articleStoreNav">
        <ul>
          <li>Comoninoz</li>
          <li style="border-bottom: 2px solid black; color:black">Flipdeep</li>
          <li>Casetify</li>
          <li>Dentists Appointment</li>
        </ul>
      </div>
      <div class="collaboComoArticle">
        <div class="collaboComoHeadImg">
          <a href="#"><img src="https://cdn.imweb.me/thumbnail/20220628/0ef0a7c911bdc.jpg" alt=""></a>
        </div>
        <div class="collaboComoPadding"></div>
        <div class="collaboFlipPrice">
          <img src="https://cdn.imweb.me/thumbnail/20220627/27b9f8c9b6e66.jpg" alt="">
        </div>
        <div class="row row-cols-md-3 collaboGrid">
          <a href="#">
            <div class="col colBorder">
            <div class="card collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/419e87eb1ac2c.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              JOGUMAN HAE! - BLACK (BLACK LENS)
            </div>
          </div>
          </a>
          <a href="#">
          <div class="col colBorder">
            <div class="card h-100 collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/14d5da7fc1d31.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              JOGUMAN HAE! - BLACK (BLUE LENS)
            </div>
          </div>
          </a>
          <a href="#">
          <div class="col colBorder">
            <div class="card h-100 collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/003b300a1603d.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              OGUMAN HAE! - BLACK (PINK LENS)
            </div>
          </div>
          </a>
          <div class="row cardWhite"></div>
          <div class="collaboFlipPrice">
            <img src="https://cdn.imweb.me/thumbnail/20220627/0d0f95c48ece2.jpg" alt="">
          </div>
          <a href="#">
          <div class="col colBorder">
            <div class="card h-100 collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/2c6ca3bdfb457.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
            </div>
          </div>
          </a>
          <a href="#">
          <div class="col colBorder">
            <div class="card h-100 collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220627/ebdaa71ea0697.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
            </div>
          </div>
          </a>
          <a href="#">
          <div class="col colBorder">
            <div class="card h-100 collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/cdff1a72fd66e.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
            </div>
          </div>
          </a>
          <div class="row cardWhite"></div>

      </div>
    </div>
  </div>
  </div>

</container>
<script src="script.js"></script>
<!--자바스크립트 : 속도를 위해 아래 첨부-->
</body>
</html>