<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
  <title>collaboComoninoz</title>
  <style>
    #mainStore{
      border-bottom:2px solid orange;
    }
  </style>
</head>
<body layout:fragment="content">
<container>
  <div class="collaboComo">
    <div class="wrap">
      <div class="articleStoreNav">
        <ul>
          <li style="border-bottom: 2px solid black; color:black">Comoninoz</li>
          <li>Flipdeep</li>
          <li>Casetify</li>
          <li>Dentists Appointment</li>
        </ul>
      </div>
      <div class="collaboComoArticle">
        <a href="#">
        <div class="collaboComoHeadImg">
          <img src="https://cdn.imweb.me/thumbnail/20220628/f92474fb3a8c8.jpg" alt="">
        </div>
        </a>
        <div class="collaboComoPadding">
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 collaboGrid">
          <a href="#">
          <div class="col colBorder">
            <div class="card collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220627/f45c7b6bb2798.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
            </div>
          </div>
          </a>
          <a href="#">
          <div class="col colBorder">
            <div class="card collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/d84d87784799d.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">

            </div>
          </div>
          </a>
          <a href="#">
          <div class="col colBorder">
            <div class="card collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220627/80a3280ed1672.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
            </div>
          </div>
          </a>
          <div class="row cardWhite"></div>
          <a href="#">
          <div class="col colBorder">
            <div class="card collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/2c6ca3bdfb457.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
            </div>
          </div>
          </a>
          <a href="#">
          <div class="col colBorder">
            <div class="card collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220627/ebdaa71ea0697.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
            </div>
          </div>
          </a>
          <a href="#">
          <div class="col colBorder">
            <div class="card collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/cdff1a72fd66e.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
            </div>
          </div>
          </a>
          <div class="row cardWhite"></div>
      </div>
    </div>
    </div>
  </div>

</container>
</body>
</html>