<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
  <title>collabo Flipdeep</title>
  <style>
    #mainStore{
      border-bottom:2px solid orange;
    }
  </style>
</head>
<body layout:fragment="content">
<container>
  <div class="collaboComo">
    <div class="wrap">
      <div class="articleStoreNav">
        <ul>
          <li>Comoninoz</li>
          <li style="border-bottom: 2px solid black; color:black">Flipdeep</li>
          <li>Casetify</li>
          <li>Dentists Appointment</li>
        </ul>
      </div>
      <div class="collaboComoArticle">
        <div class="collaboComoHeadImg">
          <a href="#"><img src="https://cdn.imweb.me/thumbnail/20220628/0ef0a7c911bdc.jpg" alt=""></a>
        </div>
        <div class="collaboComoPadding"></div>
        <div class="collaboFlipPrice">
          <img src="https://cdn.imweb.me/thumbnail/20220627/27b9f8c9b6e66.jpg" alt="">
        </div>
        <div class="row row-cols-md-3 collaboGrid">
          <a href="#">
            <div class="col colBorder">
            <div class="card collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/419e87eb1ac2c.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              JOGUMAN HAE! - BLACK (BLACK LENS)
            </div>
          </div>
          </a>
          <a href="#">
          <div class="col colBorder">
            <div class="card h-100 collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/14d5da7fc1d31.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              JOGUMAN HAE! - BLACK (BLUE LENS)
            </div>
          </div>
          </a>
          <a href="#">
          <div class="col colBorder">
            <div class="card h-100 collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/003b300a1603d.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              OGUMAN HAE! - BLACK (PINK LENS)
            </div>
          </div>
          </a>
          <div class="row cardWhite"></div>
          <div class="collaboFlipPrice">
            <img src="https://cdn.imweb.me/thumbnail/20220627/0d0f95c48ece2.jpg" alt="">
          </div>
          <a href="#">
          <div class="col colBorder">
            <div class="card h-100 collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/2c6ca3bdfb457.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
            </div>
          </div>
          </a>
          <a href="#">
          <div class="col colBorder">
            <div class="card h-100 collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220627/ebdaa71ea0697.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
            </div>
          </div>
          </a>
          <a href="#">
          <div class="col colBorder">
            <div class="card h-100 collaboCard">
              <img src="https://cdn.imweb.me/thumbnail/20220628/cdff1a72fd66e.jpg" class="card-img-top card-img-top-collabo" alt="...">
            </div>
            <div class="cardTxt">
              [Joguman X Comoninoz] JOGUMAN UBHC 티셔츠
            </div>
          </div>
          </a>
          <div class="row cardWhite"></div>

      </div>
    </div>
  </div>
  </div>

</container>
</body>
</html>