<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
  <title>download</title>
  <style>
    #mainDownloads{
      border-bottom:2px solid orange;
    }
  </style>
</head>
<body layout:fragment="content">
<container>
  <div data-include-path="header.html"></div>
  <article>
    <div class="wrap">
      <div class="articleStoreNav">
        <div class="item1">
          <ul>
            <li>Free</li>
            <li>All</li>
            <li>Sticker</li>
            <li>Memopad</li>
            <li style="border-bottom: 2px solid black; color:black">Wallpaper</li>
            <li>LetterSheet</li>
            <li>Poster</li>
          </ul>
        </div>
        <div class="item2">
          <form action="#" method="#">
            <label for="item2Id" class="form-label"></label>
            <input type="search" placeholder="Search" class="searchBorder" id="item2Id">
            <button type="submit" class="item2Btn"><span class="bi bi-search"></span></button>
          </form>
        </div>
      </div>
      <div class="sorting-product">
        <select class="select-product">
          <option selected id="select-text">등록순</option>
          <option value="1">등록순</option>
          <option value="2">인기순</option>
          <option value="3">낮은가격순</option>
          <option value="4">이름순</option>
        </select>
      </div>
      <div class="storeDivWrap">
        <div class="row row-cols-1 row-cols-md-4 g-4 storeWrap">
          <div class="col storeCol">
            <div class="card storeCard">
              <img src="https://cdn.imweb.me/thumbnail/20220622/0010672a38e8c.jpg"
                   class="card-img-top card-img-top-store" alt="...">
              <div class="store-card-body">
                <div class="card-title store-card-title">
                  흘러가는 브라키오 배경화면
                </div>
                <div class="card-price">
                  $10,000
                </div>
                <div class="card-update">
                  <div class="updateBox-new">NEW</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col storeCol">
            <div class="card storeCard">
              <img src="https://cdn.imweb.me/thumbnail/20220624/6eda3a27b03c1.jpg"
                   class="card-img-top card-img-top-store" alt="...">
              <div class="store-card-body">
                <div class="card-title store-card-title">
                  Mosa 배경화면
                </div>
                <div class="card-price">
                  $10,000
                </div>
                <div class="card-update">
                  <div class="updateBox-new">NEW</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col storeCol">
            <div class="card storeCard">
              <img src="https://cdn.imweb.me/thumbnail/20220616/a87f4c9ae5d79.jpg"
                   class="card-img-top card-img-top-store" alt="...">
              <div class="store-card-body">
                <div class="card-title store-card-title">
                  Branchio Drink Holder 브라키오 튜브 컵홀더
                </div>
                <div class="card-price">
                  $10,000
                </div>
                <div class="card-update">
                  <div class="updateBox-new">NEW</div>
                  <div class="updateBox-soldOut">SOLD OUT</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col storeCol">
            <div class="card storeCard">
              <img src="https://cdn.imweb.me/thumbnail/20220708/c0974aa4313f8.jpg"
                   class="card-img-top card-img-top-store" alt="...">
              <div class="store-card-body">
                <div class="card-title store-card-title">
                  Branchio Drink Holder 브라키오 튜브 컵홀더
                </div>
                <div class="card-price">
                  $10,000
                </div>
                <div class="card-update">
                  <div class="updateBox-new">NEW</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </article>

</container>
</body>
</html>