<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 부트스트랩 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- 조구만 스튜디오 폰트 -->
    <link rel="stylesheet" href="https://use.typekit.net/fnd3ack.css">
    <!-- 웹폰트 사용-->
    <script src="https://kit.fontawesome.com/d2294d33a0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/script.js" defer></script>
    <title>download</title>
    <style>
        #mainDownloads{
            border-bottom:2px solid orange;
        }
    </style>
</head>
<body layout:fragment="content">
<container>
    <article>
            <div class="downloadSubImg">
                <div style="border-bottom:1px solid white; padding-bottom:20px;">Giveout</div>
                <div style="font-size:25px; margin-top:20px;">[Wallpaper]흘러가는 브라키오 배경화면</div>
            </div>
            <div class="downloadSubText">
                    <p><총 7가지 규격 파일 제공></p>

                    <p>스마트폰 : 홈 / 잠금화면</p>

                    <p>태블릿 : 홈 / 잠금화면</p>

                    <p>PC : 기본 / 16:9</p>

                    <p>Apple Watch Face</p>
            </div>
            <div class="downloadSubImgList">
                <div class="downloadSubImgWrap">
                    <img src="https://cdn.imweb.me/upload/S2020070945bd60b018bf8/d5a79d1bd0e47.jpg">
                </div>
                <div class="downloadSubImgWrap">
                    <img style="width:870px; height:580px;" src="https://cdn.imweb.me/upload/S2020070945bd60b018bf8/ea85826e3b9de.jpg">
                </div>
            </div>
            <div class="downloadSubMsg">
                <div class="MsgWrap">
                <p>인스타그램을 통해 브라우저에 접속할 경우 다운로드가 안될 수 있습니다!</p>
                <p>사파리, 크롬 등 브라우저 앱으로 직접 접속하여 다운로드 부탁드립니다 :)</p>

                </div>
            </div>
            <div class="downloadFile">
                <ul>
                    <li>
                        <div class="downloadFileWrap">
                            <div class="downloadText">
                                <a href="#" download>Wallpaper_Swimming Brachio.zip<br>
                                    <em>1933KB</em>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="downloadFooter"></div>
    </article>

</container>
<!--자바스크립트 : 속도를 위해 아래 첨부-->
</body>
</html>