<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.typekit.net/fnd3ack.css">
  <link rel="stylesheet" href="stylesheet.css">

  <title>Joguman Laboratory</title>
</head>
<body>
<container>
  <header>
    <div class="headerImg">
      <img src="https://cdn.imweb.me/thumbnail/20220620/ea8ae05d24bca.png">
    </div>
    <div class="headerNav">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Downloads</a></li>
        <li><a href="#">Store</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>
    <div class="headerLogin">
      <a href="#">Login</a>
    </div>
  </header>
  <article>
    <div class="labArticleNav">
      <ul>
        <li><a href="#">Collabolation</a></li>
        <li><a href="#">Joguman Laboratory</a></li>
        <li><a href="#">Book</a></li>
        <li><a href="#">Emoticon</a></li>
      </ul>
    </div>
    <div class="">

    </div>

      <div class="articleGap"></div>
  </article>

</container>
</body>

</html>