<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>Login</title>
</head>
<body layout:fragment="content">
<container>
    <div class="loginContainer">
        <div class="loginArticle">
            <div class="loginWhite"><br></div>
            <p><span>Login</span></p>
            <div class="loginForm">
                <form action="/login" method="POST">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="text" name="username" id="loginID" placeholder="이메일"> <br>
                    <input type="password" name="password" id="loginPW" placeholder="비밀번호"> <br>
                    <button type="submit" class="loginBtn">Login</button>
                    <div class="loginCheckBox form-check">
                        <input type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            로그인상태유지
                        </label>
                    </div>
                </form>
                <br>
                <div class="loginTagA">
                    <a href="/signup" style="float:left">회원가입</a>
                    <a href="#" style="float:right">아이디∙비밀번호 찾기</a>
                </div>
            </div>
            <div class="loginWhite"><br></div>
        </div>
    </div>
</container>
</body>
</html>