<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- 부트스트랩 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- 조구만 스튜디오 폰트 -->
  <link rel="stylesheet" href="https://use.typekit.net/fnd3ack.css">
  <link rel="stylesheet" href="stylesheet.css">
  <script src="../static/js/script.js" defer></script>
  <title>Login</title>

</head>
<body>
<div class="loginContainer">
  <div data-include-path="header.html"></div>
  <div class="loginArticle">
    <div class="loginWhite"><br></div>
    <p><span>Login</span></p>
    <div class="loginForm">
      <input type="text" placeholder="이메일" id="loginID">
      <input type="password" placeholder="비밀번호" id="loginPW">
      <div class="loginCheckBox form-check">
        <input  type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label"  for="flexCheckChecked">
          로그인상태유지
        </label>
      </div>
      <p>
        <button class="loginBtn">로그인</button>
      </p>
      <div class="loginTagA">
        <a href="#" style="float:left">회원가입</a>
        <a href="#" style="float:right">아이디∙비밀번호 찾기</a>
      </div>
    </div>
    <div class="loginWhite"><br></div>

  </div>

</div>
<script src="script.js"></script>
<!--자바스크립트 : 속도를 위해 아래 첨부-->
</body>
</html>