<!doctype html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>main</title>
</head>
<body layout:fragment="content">
<container>
    <main>
        <div class="wrap">
            <div class="articleMainImg" id="mainImg">
                <img class="slide1" src="https://cdn.imweb.me/thumbnail/20220621/dc86be43bdcc2.jpg">
                <img class="slide1" src="https://cdn.imweb.me/thumbnail/20220128/7b9797e7f9333.jpg">
                <img class="slide1" src="https://cdn.imweb.me/thumbnail/20210903/dd21019aa3c98.jpg">
                <img class="slide1" src="https://cdn.imweb.me/thumbnail/20220621/b00479c120408.jpg">
                <img class="slide1" src="https://cdn.imweb.me/thumbnail/20200709/962a20194cff6.jpg">
                <img class="slide1" src="https://cdn.imweb.me/thumbnail/20211119/593fbf58b51b2.jpg">
                <img class="slide1" src="https://cdn.imweb.me/thumbnail/20210203/fdf61454a670d.jpg">
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4" id="subImg">
                <div class="col">
                    <div class="card mainCard">
                        <img src="https://cdn.imweb.me/thumbnail/20220615/5a5dfe97028a1.jpg" class="card-img-top card-img-top-main" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card mainCard">
                        <img src="https://cdn.imweb.me/thumbnail/20220615/3b650051e5bf5.jpg" class="card-img-top card-img-top-main" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card mainCard">
                        <img src="https://cdn.imweb.me/thumbnail/20220624/9586c4f59e21f.jpg" class="card-img-top card-img-top-main" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card mainCard">
                        <img src="https://cdn.imweb.me/thumbnail/20220602/14cfe86106fba.jpg" class="card-img-top card-img-top-main" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card mainCard">
                        <img src="https://cdn.imweb.me/thumbnail/20220531/1a7c7f8d172e3.jpg" class="card-img-top card-img-top-main" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card mainCard">
                        <img src="https://cdn.imweb.me/thumbnail/20220530/d37d62d58d45f.jpg" class="card-img-top card-img-top-main" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card mainCard">
                        <img src="https://cdn.imweb.me/thumbnail/20220616/be9f159eac80c.jpg" class="card-img-top card-img-top-main" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card mainCard">
                        <img src="https://cdn.imweb.me/thumbnail/20220616/2cf618aaeaea0.jpg" class="card-img-top card-img-top-main" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card mainCard">
                        <img src="https://cdn.imweb.me/thumbnail/20220602/689c22d9195ec.jpg" class="card-img-top card-img-top-main" alt="...">
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <img src="https://cdn.imweb.me/thumbnail/20210203/fada50a734994.jpg" class="footer_logo">
            <p>상호 : 조구만 ㅣ 대표 : 김병준 ㅣ 주소 : 서울시 마포구 월드컵북로5나길 9-6, 2층 ㅣ 사업자등록번호 : 160-81-02444 ㅣ 통신판매업신고증 :
                제2022-서울마포-2050호 ㅣ E-mail : joguman.studio@gmail.com
                <br>개인정보관리책임자 : 김병준
            </p>
            <p>Copyright © 2017 Joguman Studio. All Rights Reserved</p>
        </div>
    </footer>
</container>
</body>
</html>