<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
  <title>Joguman Laboratory</title>
</head>
<body layout:fragment="content">
<container>
  <article>
    <div class="articleNav">
      <ul>
        <li><a href="#">Collabolation</a></li>
        <li style="border-bottom: 1px solid black;"><a href="#">Joguman Laboratory</a></li>
        <li><a href="#">Book</a></li>
        <li><a href="#">Emoticon</a></li>
      </ul>
    </div>
    <div class="articleLabSlide">
      <div class="siema slider">
        <img src="https://cdn.imweb.me/thumbnail/20210222/108cfb71cd276.jpg">
        <img src="https://cdn.imweb.me/thumbnail/20210222/3bad692f40214.jpg">
        <img src="https://cdn.imweb.me/thumbnail/20210222/2350915be757a.jpg">
      </div>
      <button class="prev prevBtn">&lt;</button>
      <button class="next nextBtn">&gt;</button>
    </div>

    <div class="articleLabText">
      <p>'하고 싶었던 것들 다 해보자!' 라는 생각에서 시작된 &lt;조구만 실험실&gt;은
        <br>
        현실에 부딪혀 하지 못했던 것들을 과감하게 시도해보는 공간입니다.
      </p>
    </div>
    <div class="articleGap"></div>

    <div class="row row-cols-1 row-cols-md-3 g-4 projectJLGrid">
      <div class="col colBorder">
        <div class="card h-100 collaboCard">
          <img src="https://cdn.imweb.me/thumbnail/20220525/715cfd48c1e6d.png" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col colBorder">
        <div class="card h-100 collaboCard">
          <img src="https://cdn.imweb.me/thumbnail/20220525/91c4e3028efcc.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col colBorder">
        <div class="card h-100 collaboCard">
          <img src="https://cdn.imweb.me/thumbnail/20220705/c7d6bac6dbe4d.jpg" class="card-img-top" alt="...">
        </div>
      </div>
    </div>

      <div class="articleGap"></div>
  </article>
</container>

<script>
  //siema slider 코드 (Jquery 강의 38)
  $(function () {
    function onInitCallback() {
      console.log('Siema initialised bro :)');
    }

    function onChangeCallback() {
      console.log(`The index of current slide is: ${this.currentSlide}`);
    }

    var timer

    const mySiema = new Siema({
      selector: '.slider',
      onInit: onInitCallback,
      onChange: onChangeCallback,
      loop: true,
      duration: 800,
    });

    function autoSlide() {
      timer = setInterval(function () {
        mySiema.next();
      }, 4000);
    }

    autoSlide();
    $('.slider').mouseover(function () {
      clearInterval(timer);
    }).mouseout(function () {
      autoSlide();
    });

    $('.prev').click(function () {
      mySiema.prev();
    });
    $('.next').click(function () {
      mySiema.next();
    });

  });
</script>
</body>

</html>