<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 부트스트랩 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- 조구만 스튜디오 폰트 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/fnd3ack.css">
    <link rel="stylesheet" href="../static/css/stylesheet.css">

    <title>Collaboration</title>
</head>
<body layout:fragment="content">
<container>
    <div data-include-path="header.html"></div>
    <article>
        <div class="articleNav">
            <ul>
                <li><a href="#" style="border-bottom: 1px solid black;">Collabolation</a></li>
                <li><a href="#">Joguman Laboratory</a></li>
                <li><a href="#">Book</a></li>
                <li><a href="#">Emoticon</a></li>
            </ul>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col colBorder">
                <div class="card h-100 collaboCard">
                    <img src="https://cdn.imweb.me/thumbnail/20220727/4038fc6fb1af6.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col colBorder">
                <div class="card h-100 collaboCard">
                    <img src="https://cdn.imweb.me/thumbnail/20220525/d1d20bcaf6cc8.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col colBorder">
                <div class="card h-100 collaboCard">
                    <img src="https://cdn.imweb.me/thumbnail/20220525/d543c5a62b5e9.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col colBorder">
                <div class="card h-100 collaboCard">
                    <img src="https://cdn.imweb.me/thumbnail/20220421/ca022e7901621.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col colBorder">
                <div class="card h-100 collaboCard">
                    <img src="https://cdn.imweb.me/thumbnail/20220314/8fa952ed59ac9.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col colBorder">
                <div class="card h-100 collaboCard">
                    <img src="https://cdn.imweb.me/thumbnail/20220314/fbfe2b7d61412.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col colBorder">
                <div class="card h-100 collaboCard">
                    <img src="https://cdn.imweb.me/thumbnail/20211007/bcb40e9bd2d9a.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col colBorder">
                <div class="card h-100 collaboCard">
                    <img src="https://cdn.imweb.me/thumbnail/20210506/9e1e10e095e3a.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col colBorder">
                <div class="card h-100 collaboCard">
                    <img src="https://cdn.imweb.me/thumbnail/20210729/b0f3b063fde4d.jpg" class="card-img-top" alt="...">
                </div>
            </div>


            <div class="articleGap"></div>
    </article>

</container>
<script src="../static/js/script.js"></script>
</body>

</html>