<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>Book</title>
</head>
<body layout:fragment="content">
<container>
    <article>
        <div class="articleNav">
            <ul>
                <li><a href="#">Collabolation</a></li>
                <li><a href="#">Joguman Laboratory</a></li>
                <li><a href="#" style="border-bottom: 1px solid black;">Book</a></li>
                <li><a href="#">Emoticon</a></li>
            </ul>
        </div>
        <div class="articleBookSlide">
            <div class="siema">
                <img src="https://cdn.imweb.me/thumbnail/20211221/d452666781e0c.jpg">
                <img src="https://cdn.imweb.me/thumbnail/20211221/2b8f0604a67c8.jpg">
                <img src="https://cdn.imweb.me/thumbnail/20211221/e18c7cdc91818.jpg">
            </div>
            <button class="prev prevBtn">&lt;</button>
            <button class="next nextBtn">&gt;</button>
        </div>

        <div class="articleBookImg">
            <img src="https://cdn.imweb.me/thumbnail/20211222/b48cb4d13f577.jpg" alt="">
            <img src="https://cdn.imweb.me/thumbnail/20211222/f3d30e892b7e0.jpg" alt="">
            <img src="https://cdn.imweb.me/thumbnail/20211222/ac555e04e89df.jpg" alt="">
        </div>

        <div class="articleBookText">
            <p style="text-align: center; line-height: 1.5">
                <span>
                    <strong style="font-size: 20px">우리는 조구만 존재야</strong>
                </span>
            </p>
            <p style="text-align: center; line-height: 2">
                <span style="font-size: 14px; color:#ACACAC">
                    조구맣지만 안 중요하단 건 아냐
                </span>
            </p>
            <p style="text-align: center; line-height: 2">
                <br>
            </p>
            <p style="text-align: center; line-height: 2">
                <br>
            </p>
            <p style="text-align: left;">이 세상의 모든 조구마한 것들에 보내는 따뜻한 찬사.</p>
            <p style="text-align: left;">조구만 스튜디오의 첫 번째 에세이다.</p>
            <p style="text-align: left;"><br></p>
            <p style="text-align: left;">300만 년이라는 긴 시간 동안 지구 가장자리에서 적당히 살고 있는 초식공룡, 브라키오를 통해 일상의 여러 면면을 지그시 들여다보는 내용들이 가득 담겨 있다.</p>
            <p style="text-align: left;"><br></p>
            <p style="text-align: left;">자기 자신에 대해, 나를 둘러싼 관계들에 대해, 그리고 인생 전반에 대해</p>
            <p style="text-align: left;">조구만 스튜디오가 이제껏 그 어디에도 공개하지 않았던 내밀한 이야기가 만화, 에세이, 질문의 형태로 제시된다. 킥킥대면서 읽을 수 있는 만화들과 짐짓 생각해보게 하는 에피소드들이 읽는 사람들의 마음을 따스하게 감싸 안는다.</p>
            <p style="text-align: left;"><br></p>
            <p style="text-align: center; line-height: 2">
                <br>
            </p>
            <p style="text-align: left">
                <span style="font-size: 14px; color:#CDCDCD">
                    <strong>글 · 그림</strong>
                    &nbsp;&nbsp;조구만 스튜디오
                </span>
            </p>
            <p style="text-align: left">
                <span style="font-size: 14px; color:#CDCDCD">
                    <strong>출판</strong>
                    &nbsp;&nbsp; 더 퀘스트
                </span>
            </p>

            <p>
                <br><br><hr><br><br>
            </p>
        </div>

        <div class="articleBookImo">
            <img src="https://cdn.imweb.me/upload/S2020070945bd60b018bf8/b31812a25e8ad.jpg" alt="">
            <p>국내 온오프라인 서점에서 구매가능합니다.</p>
            <p>
                <br><br><br>
            </p>
            <div class="articleBookBtn">
                <a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?ejkGb=KOR&mallGb=KOR&barcode=9791165213497&orderClick=LET&Kc=">교보문고</a>
                <a href="http://www.yes24.com/Product/Goods/95802077">Yes 24</a>
                <a href="https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=257444542">알라딘</a>
            </div>
        </div>

        <div class="articleGap"></div>
    </article>
</container>

<script>
    //siema slider 코드 (Jquery 강의 38)
    $(function () {
        function onInitCallback() {
            console.log('Siema initialised bro :)');
        }

        function onChangeCallback() {
            console.log(`The index of current slide is: ${this.currentSlide}`);
        }

        var timer

        const mySiema = new Siema({
            selector: '.slider',
            onInit: onInitCallback,
            onChange: onChangeCallback,
            loop: true,
            duration: 800,
        });

        function autoSlide() {
            timer = setInterval(function () {
                mySiema.next();
            }, 4000);
        }

        autoSlide();
        $('.slider').mouseover(function () {
            clearInterval(timer);
        }).mouseout(function () {
            autoSlide();
        });

        $('.prev').click(function () {
            mySiema.prev();
        });
        $('.next').click(function () {
            mySiema.next();
        });

    });
</script>
</body>

</html>