<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
</head>
<body layout:fragment="content">
<h1>Sign Up</h1>
<hr>

<form th:action="@{/user}" method="POST">
    email : <input type="text" name="email"> <br>
    <span th:style="${'color: red; font-size:11px;'}" th:text="${valid_email}" th:id="valid_email"></span>
    password : <input type="password" name="password"> <br>
    <span th:style="${'color: red; font-size:11px;'}" th:text="${valid_password}" th:id="valid_password"></span>
    name : <input type="name" name="name"> <br>
    <span th:style="${'color: red; font-size:11px;'}" th:text="${valid_name}" th:id="valid_name"></span>
    phone : <input type="phone" name="phone"> <br>
    <span th:style="${'color: red; font-size:11px;'}" th:text="${valid_phone}" th:id="valid_phone"></span>
    birthday : <input type="birthday" name="birthday"> <br>
    <span th:style="${'color: red; font-size:11px;'}" th:text="${valid_birthday}" th:id="valid_birthday"></span>
    <input type="radio" name="auth" value="ROLE_ADMIN,ROLE_USER"> admin
    <input type="radio" name="auth" value="ROLE_USER" checked="checked"> user <br>
    <button type="submit">Join</button>
</form>
<br>

<a href="/login">Go to login →</a>
</body>
</html>