<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/fnd3ack.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/script.js"></script>
    <title>storeProduct</title>
</head>
<body layout:fragment="content">
    <container>
        <article>
            <div class="wrap">
            <div class="storeProductWrap">
                <div class="storeProductImgWrap">
                    <div class="storeProductImg">
                        <img src="https://cdn.imweb.me/thumbnail/20220707/b684bfeea0032.jpg">
                    </div>
                    <div class="storeProductImgSelect">
                        <ul>
                            <li><img src="https://cdn.imweb.me/thumbnail/20220707/f12179a733070.jpg"></li>
                            <li><img src="https://cdn.imweb.me/thumbnail/20220707/f12179a733070.jpg"></li>
                            <li><img src="https://cdn.imweb.me/thumbnail/20220707/f12179a733070.jpg"></li>
                            <li><img src="https://cdn.imweb.me/thumbnail/20220707/f12179a733070.jpg"></li>
                            <li><img src="https://cdn.imweb.me/thumbnail/20220707/f12179a733070.jpg"></li>
                        </ul>
                    </div>
                </div>
                <div class="storeProductTextWrap">
                    <div class="storeProductTitle">
                        <div class="storeProductTitle-name">
                            Fuck You Inflatable Glove 빠큐 풍선장갑
                        </div>
                        <div class="storeProductTitle-new">
                            new
                        </div>
                        <div class="storeProductTitle-price">

                        </div>
                    </div>
                    <div class="storeProductDescription">

                    </div>
                    <div class="storeProductNote">

                    </div>
                    <div class="storeProductPrice">

                    </div>
                    <div class="storeProductAmount">

                    </div>
                    <div class="storeProductBtns">
                        <div class="storeProductPriceBtn">

                        </div>
                        <div class="storeProductBasketBtn">

                        </div>
                        <div class="storeProductWishListBtn">

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </article>
    </container>
</body>

</html>