@charset "UTF-8";
*{
    font-family: montserrat, sans-serif;
    font-size:14px;
}
/*-----------  Admin -------------*/

section{
    padding-top: 150px;
    background-color:#F5F6F7;
}
.articleAdmin {
    display:flex;
    justify-content: space-between;
    padding: 0 150px;
    margin-top: 80px;
}
.articleAdminNav {
    display: inline-block;
    width: 200px;

}
.articleAdminNav ul {
    margin:0;
    padding:0 10px;
}
.articleAdminNav ul li {

    font-weight: normal;
    list-style-type: none;
    margin-bottom: 10px;
}
.articleAdminNav ul li a {
    color: black;
    text-decoration: none;
    padding-bottom: 4px;
    margin-bottom: 12px;
    font-size:16px;
}

.articleAdminSection {
    width:1000px;
    text-align: center;
    border: 1px solid black;
}
.articleAdminBtn {
    float:right;
    padding: 50px 150px;
}
.articleAdminBtn button {
    margin-left: 10px;
}
.articleAdminTableSub {
    display: none;
}


/*article*/
article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
    margin: 0 150px;
}
.articleNav {
    width: 100%;
    height: 100px;
}
.articleNav ul {
    text-align: center;
    height:40px;
    margin: 0;
    padding: 30px 0;
}
.articleNav ul li{
    display: inline-block;
    color: black;
    font-weight: normal;
    list-style-type: none;
    margin: 0 15px;
    padding-bottom: 5px;
    vertical-align: middle;
}
.articleNav ul li a {
    color: #212121B3;
    text-decoration: none;
}

.articleImg {
    height:818px;
    text-align: center;
    display: inline-block;
}
.articleImg img {
    height:818px;
}
.articleText {
    margin:50px 311px;
    font-size:18px;
}
.articleText p {
    margin: 0;
    padding: 0;
}
.articleGap {
    width: 100%;
    height: 130px;
}

.collaboCard{
    z-index: -1;
    border:none;
}

/*------------------- projects > Joguman Laboratory ----------------------*/
.siema {
    width: 500px;

    margin: 3em auto;
}
.siema img {
    width: 500px;
    height: auto;
}
.prev, .next {
    background: rgba(255,255,255,.5);
    position: absolute;
    width: 30px;
    height: 60px;
    top: 500px;
    border: none;
    cursor: pointer;
    transition: all .25s;
    color: #212121B3;
    font-size:30px;
    font-weight: lighter;
}
.next { right: 150px; }
.prev:hover, .next:hover { background: rgba(255,255,255,.75); }
button:focus { outline: 0; }

.articleLabText {
    text-align: center;
}
/*------------------- projects > book ----------------------*/

.articleBookImg {
    width:1300px;
    margin: 3em auto;
}
.articleBookImg img {
    width:1300px;
    margin-bottom: 3em;
}
.articleBookText {
    width: 500px;
    margin: 1em auto;
}
.articleBookText p {
    margin:0;
}
.articleBookText p span{
    text-align: center;
}
.articleBookImo {
    text-align: center;
    width:500px;
    margin:0 auto;
}
.articleBookImo img {
    width:142px;
    margin: 1em auto;
}
.articleBookBtn {
    display: flex;
    justify-content: space-between;
}
.articleBookBtn a {
    text-align: center;
    width:115px;
    height:50px;
    line-height: 50px;
    border:none;
    background-color: #FFD100;
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin:0 30px;
}


/*------------------- main > footer ----------------------*/

.footer {
    margin:0 150px;
}

.footer_logo{
    float: right;
    width: 80px;
}

#bold {
    font-weight: bold;
}
#textAlignCenter {
    text-align: center;
}

