<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>support notice sub</title>
</head>
<body layout:fragment="content">
<container>
    <div class="articleSupportPadding">
        <div class="supportNoticeNav">
            <ul>
                <li><a href="/support" style="border-bottom: 1px solid black">Notice</a></li>
                <li><a href="/qna">QnA</a></li>
            </ul>
        </div>
        <div class="supportNoticeSearch">

        </div>
        <div class="supportNoticeSubArticle">

            <div class="title">

            </div>
            <div id="contents">

            </div>
        </div>

        <div class="articleAdminBtn">
            <button type="button" class="btn btn-outline-secondary" onClick="location.href='/qna'">목록</button>
        </div>


        <div class="footerGap"></div>

    </div>
</container>
</body>
</html>