<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <title>support Notice</title>
</head>

<body layout:fragment="content">
<div class="articleAdminPadding">
    <div class="supportNoticeNav">
        <ul>
            <li><a href="/support" style="border-bottom: 1px solid black">Notice</a></li>
            <li><a href="/qna">QnA</a></li>
        </ul>
    </div>
    <div class="adminNoticeSearch">

    </div>
    <div class="supportNoticeArticle">
        <table class="table" id="myTable">
            <thead class="table-light">
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">글쓴이</th>
                <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="notice : ${noticeList}">
                <th scope="row" data-th-text="${notice.id}"></th>
                <td> <a th:href="@{/support/{id}(id = ${notice.id})}" data-th-text="${notice.title}"></a></td>
                <td data-th-text="${notice.user_name}"></td>
                <td data-th-text="${notice.hits}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="footerGap"></div>
</div>
</body>
</html>